body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#1976d2,#0d47a1);
  color: white;
  text-align: center;
}

.card {
  background: rgba(255,255,255,0.15);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  background: #ff5722;
  color: white;
  font-size: 16px;
}

#fireGame {
  height: 220px;
  background: #c8e6c9;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.fire {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
}

canvas {
  background: skyblue;
  border-radius: 15px;
}

#map {
  height: 250px;
  border-radius: 15px;
}
