*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

body{
  background:radial-gradient(circle at top,#0d47a1,#020b2d);
  color:#e3f2fd;
}

/* AUTH */
#authScreen{
  position:fixed;inset:0;
  display:flex;justify-content:center;align-items:center;
}

.authBox{
  width:300px;
  background:rgba(255,255,255,0.08);
  padding:35px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 0 30px #2196f3;
}

.authBox span{color:#00e5ff}

.authBox input{
  width:100%;padding:12px;margin:10px 0;
  border-radius:10px;border:none;
}

.authBox button{
  width:100%;padding:12px;border:none;
  border-radius:10px;
  background:linear-gradient(45deg,#2196f3,#00e5ff);
  font-weight:bold;margin-top:8px;
}

.authBox .alt{background:#1e88e5;color:white}

/* DASHBOARD */
#dashboard{display:none;padding:20px}

header{
  display:flex;justify-content:space-between;
  margin-bottom:20px;
}

header button{
  background:#ff5252;border:none;
  padding:8px 16px;border-radius:10px;color:white;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
}

.card{
  background:rgba(255,255,255,0.08);
  border-radius:20px;padding:15px;
  box-shadow:0 0 15px rgba(0,229,255,.4);
}

/* MAP */
#map{
  height:220px;
  border-radius:15px;
}

/* FIRE GAME */
#fireArea{
  height:180px;background:#1b5e20;
  border-radius:15px;position:relative;overflow:hidden;
}
.fire{position:absolute;font-size:26px;cursor:pointer}

/* FLAPPY */
canvas{
  background:linear-gradient(#4fc3f7,#0288d1);
  border-radius:15px;
}

.card button{
  width:100%;margin-top:10px;
  padding:8px;border:none;border-radius:10px;
  background:#00e5ff;font-weight:bold;
}
