body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#1e88e5,#0d47a1);
  color: white;
  text-align: center;
  margin: 0;
}

.card {
  background: rgba(255,255,255,0.15);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 80%;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #ff5722;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

#fireMap {
  height: 150px;
  background: black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#fireGame {
  height: 250px;
  background: #c8e6c9;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.fire {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
}

canvas {
  background: skyblue;
  border-radius: 15px;
}
